body {
    background-color: #FAF0E6;
    /* Define a fonte do programa */
    font-family: Tahoma;
    /* Define o tamanho da fonte do programa */
    font-size: 14px;
}
/* Define as configurações do menu */
.menu {
    width: 100%;
    height: 40px;
    font-size: 16px;
    position: sticky;
    top: 0;
    background-color: #FAF0E6;
}

/* Define as configurações da tag <a> */
a {
    text-decoration-line: none;
    color: #ADD8E6;
    font-size: 16px;
}

table {
    font-weight: bold;
    font-family: Tahoma;
}

/* Define as configurações de formatação do texto da pagina de ancoras */
.texto {
    margin: 0% 2%;
    text-align: justify;
}